<!doctype html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href={{.StylesPath}} />
        <meta charset="utf-8">
        <title>Untitled Custom SSG</title>
    </head>
    <body class="container">
        <div class="content">
            {{.Content}}
        </div>
    </body>
</html>
